* {
    margin: 0;
    padding: 0;
}

.container {
    height: auto;
    background-color: lightgray;
    display: auto;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1px;
    padding: 12px;
    margin-bottom: 30px;
    height: 110vh;
}

.img-noticias {
    float: left;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.card-body {
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagen-noticias-zoom {
    border-radius: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}